body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  text-align: center; 
  background-color: #2a2c41;
}

#main-header {
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.2);
  padding: 0 5%;
}

main h1 {
  color: rgb(253, 191, 80);
  font-size: 3rem;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  color: rgb(255, 114, 76);
}

#main-header ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  list-style-type: none;
  color: rgb(255, 114, 76);
  margin: 0;
  padding: 0;
}

#main-header li {
  margin: 0 1rem;
}

#main-header nav a {
  color: rgb(255, 114, 76);
  font-size: 1.25rem;
}

#latest-products {
  width: 80%;
  margin: 2rem auto;
}

#latest-products ul {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  list-style-type: none;
}

.food-item {
  background-color: rgb(244, 244, 248);
  border-radius: 10px;
  overflow: hidden;
}

.food-item img {
  width: 100%;
  height: 21rem;
  object-fit: cover;
}

.food-item-content {
  padding: 1rem;
}

h2 {
  color: rgb(255, 114, 76);
}

article a {
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  background-color: rgb(253, 191, 80);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  display: inline-block;
}

article a:hover {
  background-color: rgb(252, 173, 54);
}

@media (max-width: 48rem) {
  /* make the page responsive when the width of the device si 768px (48rem) or less (entering tablet/mobile mode) */
  main h1 {
    font-size: 1.5rem;
  }
  
  nav {
    display: none;
  }
  
  #latest-products ul {
    grid-template-columns: 1fr;
  }
  
}
